/*
	Name: SBP 2013
	Date: October 2012
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Katherine Chuang
	Autor URI: http://www.katychuang.com
*/

/* Imports */
@import url("css/reset.css");
@import url("css/global-forms.css");

/*-------------------------------
			Header
  -------------------------------*/

header {
	height: 42px;
	padding: 0 10px;
	font-family: 'Open Sans', helveticaneue;
	font-weight: 300;
	position: relative;
	background: #191818;
	font-size: 15px;
}

header h1 {	float: left;margin-bottom: 0;}
header h1 a {width: 44px;height: 62px;display: block;text-indent: -9999px;
	background: url(images/sprite.png) no-repeat;}


header .nav-collapse {position: absolute;left: 60px;}

header .nav-collapse ul {	list-style:none;	/*width: 320px;*/	color:#FFFFFF;}

header .nav-collapse ul li{
	float: left;
	display: inline;
	margin-right: 15px;
	margin-left: 10px;
	color:#FFFFFF;
}

header .nav-collapse ul li a:link,
header .nav-collapse ul li a:visited,
header .nav-collapse ul li a:active {
	color:#FFFFFF;
	display:inline-block;
	line-height: 51px;
	height: 51px;
	padding: 0 6px;
	font-size: .875em;
	text-decoration: none;
	border-top: 2px solid #191818;
}

header .nav-collapse ul li a:focus,
header .nav-collapse ul li a:hover{
	color:#BDBB3C;
	background-color: #092238;
	border-top: 2px solid #BDBB3C;
}

header .nav-collapse ul li a.active {
	color:#ffffff;
}

header a.twitter{
	float: right;
	font-size:0.875em;
	color:rgb(19,134,135);
	font-weight: bold;
	height: 51px;
	line-height: 51px;
	text-indent: -9999px;
	width: 26px;
}

header a.twitter:focus, 
header a.twitter:hover,
header a.highlight:focus,
header a.highlight:hover  {
	color:rgb(249,245,232);
}

header a.twitter span {
	display: block;
	float: left;
	width: 26px;
	height: 18px;
	background: url(images/sprite.png) -44px -49px;
	margin-top: 16px;
}

header a.facebook{
	float: right;
	font-size:0.875em;
	color:rgb(19,134,135);
	font-weight: bold;
	height: 51px;
	line-height: 55px;
	text-indent: -9999px;
	width: 30px;
}

header a.facebook span {
	display: block;
	float: left;
	width: 30px;
	height: 23px;
	background: url(images/fb.jpg);
	margin-top: 10px;
}

/*
	Banner
*****************/
#banner {
	margin: 0 auto; 
	padding: 0;
	background: #092238;
}

#banner h1 {font-size: 3.571em; line-height: .6;text-align: center;}
#banner h1 a:link, #banner h1 a:visited {
	margin: auto 0;
	text-align: center;
	text-decoration: none;
	/*width: 960px;*/
}
#banner h1 a:hover, #banner h1 a:active {
	background: none;
	color: #00004d;
	text-shadow: none;
}

#banner h1 strong {font-size: 0.36em; font-weight: normal;}

/* Main Nav */
#banner nav {
	background: #092238; 
	font-size: 1em;
	font-weight:normal;
	height: 45px;
	line-height: 35px;
	margin: 0 auto 0 auto;
	padding: 0;
	text-align: center;
	width: 800px;
	
	/*border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;*/
}

#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
#banner nav li {float: left; display: inline; margin: 0;}

#banner nav a:link, #banner nav a:visited {
	color: #BDBB3C;
	font-family: 'Open Sans', helveticaneue;
	font-size: 0.87em;
	display: inline-block;
	height: 30px;
	padding: 5px 1.2em;
	text-decoration: none;
}
#banner nav a:hover, #banner nav a:active,
#banner nav .active a:link, #banner nav .active a:visited {
	/*background: #BDBB3C;*/
	color: #fff;
	text-shadow: none !important;
	border-bottom:5px solid #BDBB3C;
}


/*
	Extras
*****************/
#extras {
	font-family:'Open Sans', helveticaneue;
	border-top:3px solid black;
	margin: 3em auto 0 auto; overflow: hidden; 
	padding-top:20px;
	background: #191818;
	padding-bottom: 20px;
	}
	/* 497CA3 */

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #787885;}
#extras h2 {
	color: #ffffff;
	font-size: 0.9em;
	margin-bottom: .25em;
	padding: 0 3px;
	font-family:'Open Sans', helveticaneue;
}

#extras a:link, #extras a:visited {
	color: #ffffff;
	display: block;
	border-bottom: 1px solid #B7ADAD;
	text-decoration: none;
	padding: .3em .25em;
-webkit-transition: color 0.1s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#extras li:last-child,
#extras li:last-child a {border: 0}

#extras a:hover, #extras a:active {color: #fff;
	-webkit-transition: color 0.1s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

	/* Blogroll */
	#extras .blogroll {
		float: left;
		width: 615px;
		padding-left:20px;
	}

	#extras .blogroll li {float: left; margin: 0 20px 0 0; width: 185px;}
	
	/* Social */
	#extras .social {
		float: right;
		width: 175px;
	}

	#extras div[class='social'] a {
		background-repeat: no-repeat;
		background-position: 3px 6px;
		padding-left: 25px;
	}
	
		/* Icons */
		.social a[href*='delicious.com'] {background-image: url('images/icons/delicious.png');}
		.social a[href*='facebook.com'] {background-image: url('images/icons/facebook.png');}
		.social a[href*='twitter.com'] {background-image: url('images/icons/twitter.png');}

/* INDEX PAGE */


#featured1 {background: #fefefe; margin: 2em auto;
	overflow: hidden; padding: 20px;width: 800px;
	font-family: helveticaneue; color:#191919;
}


#keynotebox {
	background: url('images/001-subtle-light-pattern-background-texture.jpg');
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border:1px solid #cccccc; padding:14px; 
	height:330px;
		-moz-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4); /* FF3.5+ */
			-webkit-box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4); /* Saf3.0+, Chrome */
			  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4); /* Opera 10.5, IE 9.0 */
				  filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#555'); /* IE6,IE7 */
			  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#555')"; /* IE8 */   
}

#featured1 h2 {color: #116335; font-size: 1.714em; margin: 0.6em 0 0.3em 0;border-bottom: 1px solid #dddddd; font-weight:700;font-family: 'Open Sans', helveticaneue;}
#featured1 h3 {font-size: 1.429em; margin-bottom: .5em;}
#featured1 h3 a:link, #featured1 h3 a:visited {color: #000305; text-decoration: none;}
#featured1 h3 a:hover, #featured1 h3 a:active {color: #818188;}
#featured1 a:hover, #featured1 a {color:#00004d;}
#featured1 p, #featured1 img{padding-top:2px; padding-bottom: 5px; line-height: 20px;
			font-family: helveticaneue; font-size: 0.9em;} 

#featured1 blockquote {font-family: helveticaneue; line-height: normal;
		padding-left:12px; border-left:8px solid #efefef; font-size: 0.9em;} 


#keynote1stpage ol {list-style: none;}
#keynote1stpage li {margin-left:58px; float: left; display:inline; padding-left:4px; font-size: 13px;line-height:16px;}
#keynote1stpage img {
		border:1px solid #cccccc; padding:14px;margin:15px; background-color: #fff;
}



#keynotepage img {border: 1px solid #c4c4c4; margin:10px;}
